body {
}

table {
    font-family:Calibri;
    min-height:500px;
    min-width: 300px;
    text-align:center;
    border-collapse:collapse;
}

table tr:nth-child(2n+1) {
    background-color:#dddcdc;
}